body {
    background-color: #74b8f0;


} /* O body foi o inicio ou base para a criação dos demais  */

.Port {
    font-family: "Caveat", cursive;
    font-weight: 700px;
    font-style: normal;
    text-align: center;
    margin-left: 30px;




}

.Foto {
    width: 140px;
    margin-top: 30px;
    border-style: solid;
    margin-right: 700px;
    border-color: black;
    border-radius: 30px;
}



.Mim {
    width: 500px;
    display: inline-block;
    margin-left: 600px;
    margin-bottom: 5px;

/* Essa parte de cima foi como se eu definisse o que iria fazer posicionando as fotos, e as partes mais basicas do site/portifólio */


}

#h2a {
    display: inline-block;
    margin-right: 100px;
}

#h2b {
    display: inline-block;
    margin-right: 100px;
}

#h2c {
    display: inline-block;
    margin-right: 100px;
}

#h2d {
    display: inline-block;
    margin-right: 100px;
}

#art1 {
    margin-left: 30px;
    margin-top: 30px;
}

#img {
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin-left: 531px;

} /* Esse bloco acima está separando ou espaçando as palavras, usei o id para separar uma o que facilitou muito na hora da montagem  */

.Gabs {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.Hab {
    font-family: "Caveat", cursive;
    font-weight: 700px;
    font-style: inherit;



}

.Pc {
    display: inline-block;
    padding: ;
    border: 5px solid rgb(255, 252, 252) ; 
    border-radius: 30px;
    text-align: center;


}

#git {
   
    
}
/* Aqui o trabalho entre id e class foi crucial, qundo senti necessidade optei por um ou por outro, sempre usando o display inline block para deixar as imagens posicionadas uma do lado da outra,o que ajudou para tornar as bordas arredondadas foi o border radius, com ele consegui realizar o que queria,  */
.Projeto {
    display: inline-block;
    border: black;
    border-radius: 50px;

}

#Studio {
    padding-right: 400px;
    border-radius: 100px;
    border-color: rgb(0, 0, 0);
}

#G1 {
    border-radius: 50px;
    border-color: black;
}

.poxa {
    font-family: "Caveat", cursive;
    font-weight: 700px;
    font-style: normal;
   
}
/* Aqui eu realizei as prtes de projeto coloquei font family pra definir as fontes, fonte-weight ajudou a definir a grossura das "linhas" por assim dizer das letras, o que ajudou na parte de estilizar o site, novamente para espaçar uma imagem da outra usei o padding e no caso o "padding-right para definir o lado que queria o espçamento */


.Cont{
    font-family: "Caveat", cursive;
    font-weight: 700px;
    font-style: normal;
}

#Zup{
    padding-bottom: 0px;
    margin-right:10px ;
   
}

#num{
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#e-mail{
    font-family: 'Times New Roman', Times, serif;
}

#hub{
    font-family: 'Times New Roman', Times, serif;
}
#pé{
    text-align: center;
}
#office{
    border: 5px solid white ;
    border-radius: 30px;
}